<body>
    <header>
      <h2>ACERCA DE NOSOTROS:</h2>
    </header>
  
    <section>
      <h2>Nuestra Historia</h2>
      <p>Somos una empresa comprometida con la excelencia y la satisfacción del cliente. Desde nuestros humildes comienzos, nos hemos esforzado por ofrecer videojuegos de alta calidad.</p>
  
      <h2>Nuestro Equipo</h2>
      <p>Nuestro equipo está formado por profesionales apasionados y dedicados en sus respectivos campos. Trabajamos juntos para alcanzar metas comunes y brindar soluciones innovadoras a nuestros clientes.</p>
  
      <h2>Misión y Visión</h2>
      <p>Nuestra misión es que todo cliente tenga a su alcance todo tipo de videojuego</p>
      <p>Nuestra visión es llegar a tener la biblioteca más grande de videojuegos</p>
    </section>
  
    
</body>