<div class="container">
    <mat-toolbar>
        <span>Todos los Videojuegos</span>
        <div class="example-spacer">
        </div> 
    </mat-toolbar>

    <div *ngIf="listVideojuegos.length > 0">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
        
          
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          
          <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
          </ng-container>

           
           <ng-container matColumnDef="compania">
            <th mat-header-cell *matHeaderCellDef> Compañia </th>
            <td mat-cell *matCellDef="let element"> {{element.compania}} </td>
          </ng-container>

           
           <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let element"> {{element.imagen}} </td>
          </ng-container>
        
          
          <ng-container matColumnDef="valoracionMedia">
            <th mat-header-cell *matHeaderCellDef> Valoracion Media </th>
            <td mat-cell *matCellDef="let element"> {{element.valoracionMedia}} </td>
          </ng-container>
        
  
          <!-- boton -->
          <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                  <!--Falta añadir funcionalidad y metodo ver detalle añadiendo un componente-->
                  <a class="pointer" style="color: #1878b0" matTooltip="Ver detalle del videojuego">
                    <mat-icon>search</mat-icon>
                  </a>
                  <!--Falta añadir funcionalidad y metod añadirVideojuego-->
                  <a class="pointer" style="color: #e36411" matTooltip="Añadir videojuego">
                      <mat-icon>add</mat-icon>
                  </a>
              </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>

    <h2 *ngIf="listVideojuegos.length == 0">No hay usuarios para mostrar</h2>
    

</div>